{% extends "base_headrun.html" %}

{% block header_one %}

{% endblock %}

{% block about %}

<>
	<!-- PAGE TITLE
================================================== -->
	<section class="pageheader-default text-center">
	<div class="semitransparentbg">
		<h1 class="animated fadeInLeftBig notransition">About Us</h1>
		<p class="animated fadeInRightBig  notransition container page-description">
			 Headrun believes deeply in creating a culture that allows innovation and quality to flourish. <br>This pervades the entire gamut of operations at Headrun from writing code, talking to customers to management methodology. 

		</p>
	</div>
	</section>
	<div class="wrapsemibox">
		<div class="semiboxshadow text-center">
			<img src="/static/img/shp.png" class="img-responsive" alt="">
		</div>
		<!-- ABOUT
================================================== -->
		<!-- TESTIMONIAL 1 -->
		<section class="animated fadeInUp notransition">
		<div class="cbp-qtrotator">
			<h1 class="small text-center topspace0">Efficiency!!</h1>
			<blockquote>
				<p class="bigquote text-left">
					
					<i class="icon-quote-left colortext quoteicon"></i>We constantly strive for efficiency in ourselves and in the systems we build. We constantly consider questions like "How quickly can I solve this problem?", "What tools do I employ, so I can get this done effortlessly?". We love the notion of a "Lazy programmer" - Do not reinvent the wheel!, Do not repeat yourself. We constantly challenge ourselves to spend less time at something but get more done. We reward employees for doing the same.
				</p>
				
			</blockquote>
		</div>	
		</section>
	<!-- TESTIMONIAL 2 -->	
		<section class="grayarea">
		<div class="cbp-qtrotator animated fadeInRight notransition">
			<h1 class="small text-center">Quality</h1>
			<blockquote>
				<p class="bigquote text-left">
					
					<i class="icon-quote-left colortext quoteicon"></i> We love quality products that we use. We pay gladly for quality services. Headrun respects quality. We emphasise quality conciousness in all at Headrun. We take the thought "This is a product of Headrun. It has to set a new bar." quite seriously.
				</p>
				
			</blockquote>
		</div>
		</section>
	<!-- TESTIMONIAL 3 -->
		<section>
		<div class="cbp-qtrotator animated fadeInLeftNow notransition">
			<h1 class="small text-center topspace40">Empathy</h1>
			<blockquote>
				<p class="bigquote text-left">
					
					<i class="icon-quote-left colortext quoteicon"></i> Do unto others as you would have done to you; Our interactions with each other, the team with an individual, an individual with the team, Us with a client are all governed by this over arching thought. We care about the people around us. We believe that our life is more meaningful when we grow together. As product makers and service providers, we empathise with the customer. We think of ourselves as partners more than vendors.
				</p>
				
			</blockquote>
		</div>
		</section>
	<!-- TESTIMONIAL 4 -->
		<section class="grayarea">
		<div class="cbp-qtrotator animated fadeInRightNow notransition">
			<h1 class="small text-center">Innovation</h1>
			<blockquote>
				<p class="bigquote text-left">
					
					<i class="icon-quote-left colortext quoteicon"></i> We always question Status Quo. Why is it this way? Can it not be done like this also? Should be re-evaluate this practice? Can I do it better? - We are not afraid to go into battle mode to bring about change having recognized that "Change is the only thing that is permanent".
				</p>
				
			</blockquote>
		</div>
		</section>
		<section class="grayarea">
		<div class="cbp-qtrotator animated fadeInRightNow notransition">
			<h1 class="small text-center">Transparency</h1>
			<blockquote>
				<p class="bigquote text-left">
					
					<i class="icon-quote-left colortext quoteicon"></i> Our internal management systems are automated for greater transparency in operations for the benefit of our employees and clients alike.
				</p>
				
			</blockquote>
		</div>
		</section>
		<!-- Team
================================================== -->
        <section class="grayarea recent-projects-home topspace30 animated fadeInUpNow notransition fadeInUp">
           <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h1 class="text-center smalltitle">
                            <span> Our Team
                            </span>
                        </h1>
                        <div class="br-hr type_short"></div>
                        <div class="row show-grid">
                            <div class="col-md-3">
                                <div class="row animated fadeInDownNow notransition fadeInDown">
                                    <div class="icon-box-top grey-box-icon-pos">
                                        <div class='circle_image'>
                                        <i class="fontawesome-icon fontnormal"><img class='img-circle' src="/static/img/karthik.png" width="150" height="150"></img></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="caption">
                                    <h4>Karthik Bala</h4>
                                        <span class="primarycol">- Founder Chairman -</span>
                                </div>

                            </div> 
                            <div class="col-md-3">
                                <div class="row animated fadeInDownNow notransition fadeInDown">
                                    <div class="icon-box-top grey-box-icon-pos">
                                        <div class='circle_image'>
                                        <i class="fontawesome-icon fontnormal"><img class='img-circle' src="/static/img/prashanth_ellina.png" width="150" height="150"></img></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="caption">
                                    <h4>Prashanth Ellina</h4>
                                        <span class="primarycol">- Founder Director -</span>
                                </div>

                            </div>
                         <div class="col-md-3">
                                <div class="row animated fadeInDownNow notransition fadeInDown">
                                    <div class="icon-box-top grey-box-icon-pos">
                                        <div class='circle_image'>
                                        <i class="fontawesome-icon fontnormal"><img class='img-circle' src="/static/img/raja11.png" width="150" height="150"></img></i>
                                        </div>
                                    </div>
                                    <div class="caption">
                                    <h4>Raja Sekhar Emmela</h4>
                                        <span class="primarycol">- CEO -</span>
                                </div>

                                </div>
                            </div>
                         <div class="col-md-3">
                                <div class="row animated fadeInDownNow notransition fadeInDown">
                                    <div class="icon-box-top grey-box-icon-pos">
                                        <div class='circle_image'>
                                            <i class="fontawesome-icon fontnormal"><img class='img-circle' src="/static/img/phani_ss.png" width="150" height="150"></img></i>
                                        </div>
                                    </div>
                                    <div class="caption">
                                    <h4>Phani Priya</h4>
                                        <span class="primarycol">- COO -</span>
                                </div>

                                </div>
                            </div>
                         </div>
                         <div class="row show-grid">
                         <div class="col-md-3">
                                <div class="row animated fadeInDownNow notransition fadeInDown">
                                    <div class="icon-box-top grey-box-icon-pos">
                                        <div class='circle_image'>
                                        <i class="fontawesome-icon fontnormal"><img class='img-circle' src="/static/img/saran.png" width="150" height="150"></img></i>
                                        </div>
                                    </div>
                                    <div class="caption">
                                    <h4>Saran Ravipati</h4>
                                        <span class="primarycol">- VP, Products -</span>
                                </div>

                                </div>
                        </div>
                        <div class="col-md-3">
                                <div class="row animated fadeInDownNow notransition fadeInDown">
                                    <div class="icon-box-top grey-box-icon-pos">
                                        <div class='circle_image'>
                                        <i class="fontawesome-icon fontnormal"><img class='img-circle' src="/static/img/sai_pavan.JPG" width="150" height="150"></img></i>
                                        </div>
                                    </div>
                                    <div class="caption">
                                    <h4>Sai Pavan</h4>
                                        <span class="primarycol">- VP, Engineering</span>
                                </div>

                                </div>
                        </div>
                        <div class="col-md-3">
                                <div class="row animated fadeInDownNow notransition fadeInDown">
                                    <div class="icon-box-top grey-box-icon-pos">
                                        <div class='circle_image'>
                                        <i class="fontawesome-icon fontnormal"><img class='img-circle' src="/static/img/niranjan.png" width="150" height="150"></img></i>
                                        </div>
                                    </div>
                                    <div class="caption">
                                    <h4>Niranjan Sagar</h4>
                                        <span class="primarycol">- Tech Lead -</span>
                                </div>

                                </div>
                        </div>

                            <div class="col-md-3">
                                <div class="row animated fadeInDownNow notransition fadeInDown">
                                    <div class="icon-box-top grey-box-icon-pos">
                                        <div class='circle_image'>
                                        <i class="fontawesome-icon fontnormal"><img class='img-circle' src="/static/img/sowjanya_new.JPG" width="150" height="150"></img></i>
                                        </div>
                                    </div>
                                    <div class="caption">
                                    <h4>Sowjanya Puppala</h4>
                                        <span class="primarycol">- Tech Lead -</span>
                                </div>

                                </div>
                            </div>
                        </div>

                        <div class="row show-grid">
                            <div class="col-md-3">
                                <div class="row animated fadeInDownNow notransition fadeInDown">
                                    <div class="icon-box-top grey-box-icon-pos">
                                        <div class='circle_image'>
                                        <i class="fontawesome-icon fontnormal"><img class='img-circle' src="/static/img/sindu_new.JPG" width="150" height="150"></img></i>
                                        </div>
                                    </div>
                                    <div class="caption">
                                    <h4>Sindu Teja</h4>
                                        <span class="primarycol">- Team Lead -</span>
                                </div>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="row animated fadeInDownNow notransition fadeInDown">
                                    <div class="icon-box-top grey-box-icon-pos">
                                        <div class='circle_image'>
                                        <i class="fontawesome-icon fontnormal"><img class='img-circle' src="/static/img/deepika.png" width="150" height="150"></img></i>
                                        </div>
                                    </div>
                                    <div class="caption">
                                    <h4>Deepika Singh</h4>
                                        <span class="primarycol">- Team Lead -</span>
                                </div>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="row animated fadeInDownNow notransition fadeInDown">
                                    <div class="icon-box-top grey-box-icon-pos">
                                        <div class='circle_image'>
                                        <i class="fontawesome-icon fontnormal"><img class='img-circle' src="/static/img/jaideepheadrun.jpg" width="150" height="150"></img></i>
                                        </div>
                                    </div>
                                <div class="caption">
                                    <h4>Samuel Jaideep</h4>
                                        <span class="primarycol">- Team Lead -</span>
                                </div>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="row animated fadeInDownNow notransition fadeInDown">
                                    <div class="icon-box-top grey-box-icon-pos">
                                        <div class='circle_image'>
                                        <i class="fontawesome-icon fontnormal"><img class='img-circle' src="/static/img/yeswanth_new.jpg" width="150" height="150"></img></i>
                                        </div>
                                    </div>
                                    <div class="caption">
                                    <h4>Yeswanth Annadata</h5>
                                        <span class="primarycol">- Team Lead-</span>
                                </div>

                                </div>
                            </div>
                        </div>
                        <div class="row show-grid">
                            <div class="col-md-6">
                                <div class="row animated fadeInDownNow notransition fadeInDown">
                                    <div class="icon-box-top grey-box-icon-pos">
                                        <div class='circle_image'>
                                        <i class="fontawesome-icon fontnormal"><img class='img-circle' src="/static/img/arunashree.jpg" width="150" height="150"></img></i>
                                        </div>
                                    </div>
                                    <div class="caption">
                                    <h4>Arunashree</h4>
                                        <span class="primarycol">- Business Development Lead  -</span>
                                </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row animated fadeInDownNow notransition fadeInDown">
                                    <div class="icon-box-top grey-box-icon-pos">
                                        <div class='circle_image'>
                                        <i class="fontawesome-icon fontnormal"><img class='img-circle' src="/static/img/aravind.png" width="150" height="150"></img></i>
                                        </div>
                                    </div>
                                    <div class="caption">
                                    <h4>Aravind Rajan</h4>
                                        <span class="primarycol">- Associate Business Development Lead -</span>
                                </div>

                                </div>
                            </div>
                        </div>

                        </div>
                    </div>
                </div>
           </div>
        </section>
	
<script src="/static/js/jquery.js"></script>
<script>

/* ---------------------------------------------------------------------- */
	/*	Accordion
	/* ---------------------------------------------------------------------- */
	var clickElem = $('#accordion div h4');
	clickElem.on('click', function(){
		var $this = $(this),
			parentCheck = $this.parent('div');
		if( !parentCheck.hasClass('active')) {
			var accordItems = $('#accordion div');
			accordItems.removeClass('active');
			parentCheck.addClass('active');
		}
	});
$(document).ready(function(){
	$('#home').removeClass('active');
	$('#portfolio').removeClass('active');
	$('#contact').removeClass('active');
	$('#features').removeClass('active');
	$('#blog').removeClass('active');
	$('#pages').addClass('active');
});
</script>
{% endblock %}
