{% extends "base_headrun.html" %}


{% block header_footer %}
		<!-- FORM+INTRO NOTE
================================================== -->
		<section class="container services">
		<div class="row">
					<h1 class="small text-center animated fadeInLeftNow notransition">Our Capabilities</h1>
					<div class="br-hr type_short">
						<span class="br-hr-h animated fadeInRightNow">
						<i class="icon-hand-down"></i>
						</span>
					</div>
					<br>
					<br>
			<!--<div class="col-md-4 animated fadeInLeft notransition">

				<div class="box effect2">
					<h4>GOT A PRE-SALE QUESTION?</h4>
					<p>
						 There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
					</p>
					<div class="done">
						<div class="alert alert-success">
							<button type="button" class="close" data-dismiss="alert">×</button>
							Your message has been sent. Thank you!
						</div>
					</div>
					<form method="post" action="contact.php" id="contactform">
						<div class="form">
							<input class="col-md-12" type="text" name="name" placeholder="Name">
							<input class="col-md-12" type="text" name="email" placeholder="E-mail">
							<textarea class="col-md-12" name="comment" rows="3" placeholder="Message"></textarea>
							<input type="submit" id="submit" class="btn btn-default" value="Send">
						</div>
					</form>
				</div>
			</div>-->
			<div class="col-md-12 animated fadeInRight notransition">
				<div class="row text-center">
					<div class="col-md-4">
						<i class="icon-bug"></i>
						<h4>Web Data Extraction</h4>
						<p>
							 OTT/video meta crawl |
							 Sports/Real Estate database aggregation |
							 Comparison engines | 
							 Custom Mashups

						</p>
					</div>
					<!-- col-md-6 -->
					<div class="col-md-4">
						<i class="icon-group"></i>
						<h4>Cluster Management</h4>
						<p>
							 Managed server clusters of 100 + machines |
Monitoring uptime , deploying software , mainataining state | 
Distributed monitoring using Nagios, SNMP integration | 
Distributed configuration management using Chef/Puppet |
</p>
					</div>
					<div class="col-md-4">
						<i class="icon-tablet"></i>
						<h4>Mobile and Web App development</h4>
						<p>
							IOS and Android Dev |
intricacies of codebase fragmentation and resultant cost factors |
Django/Python/Mysql/Apache/Nginx environments |

						</p>
					</div>
					<!-- col-md-6 -->
				</div>
			
				<div class="row text-center">
					<br>
					<br>
					<div class="col-md-6">
						<i class="icon-desktop"></i>
						<h4>OSS Strategy Consulting</h4>
						<p>
							 OSS deployment consultation |
OSS Deployment and support |
Experience with Postgres, Hadoop, MangoDB and Raik |

						</p>
					</div>
					<!-- col-md-6 -->
					<div class="col-md-6">
						<i class="icon-gears"></i>
						<h4>Custom Software Build</h4>
						<p>
						Custom Data Extraction and DaaS solutions |
Industry / Organisation specific crawling infrastructure |
Client specific technology consultation and build |

						</p>
					</div>
			
					<!-- col-md-6 -->
				</div>
			</div>
		</div>
		</section>
		<!-- TESTIMONIALS
================================================== -->
		<section class="topspace10">
		<div class="container animated fadeInRightNow notransition">
			<div class="row">
				<h1 class="text-center smalltitle">
				<span>Testimonials</span>
				</h1>
				<div id="cbp-qtrotator" class="cbp-qtrotator">
					<div class="cbp-qtcontent">
						<img src="http://wowthemes.net/demo/biscaya/img/demo/avatar.jpg" alt="">
						<blockquote>
							<p class="bigquote">
								<i class="icon-quote-left colortext quoteicon"></i> Veveo has gainfully used Headrun for multiple engineering projects ranging from new fuctionality and maintenance as well as production services. Deliverable quality has been consistently good and the service proactive  and responsive. The Headrun leadership team is also easily approachable and reliable. I wouldn’t hesitate recommonding Headrun.
							</p>
							<footer>Rakesh Barve / Vice President , Veveo Inc.</footer>
						</blockquote>
					</div>
					<div class="cbp-qtcontent">
						<img src="http://wowthemes.net/demo/biscaya/img/demo/avatar.jpg" alt="">
						<blockquote>
							<p class="bigquote">
								<i class="icon-quote-left colortext quoteicon"></i> With quick turnaround and innovative outlook at arriving at solutions to problems. Headrun is a reliable partner at work with We enjoy working with the team and look forward to a long term business relationship.
							</p>
							<footer>Shameer Thaha, Social Media Strategist , Thoughtbuzz Inc.</footer>
						</blockquote>
					</div>
					<div class="cbp-qtcontent">
						<img src="http://wowthemes.net/demo/biscaya/img/demo/avatar.jpg" alt="">
						<blockquote>
							<p class="bigquote">
								<i class="icon-quote-left colortext quoteicon"></i> Good startups are efficient amplifiers of the creativity , energy, and productivity levels of its founders. My interactions with the Headrun leadership team offered me clear evidence of such amplification in practice.
							</p>
							<footer> Ajit Rajashekaran , Founder and VP of technology , Veveo Inc.</footer>
						</blockquote>
					</div>
				</div>
			</div>
		</div>
		</section>

<!--        <section class="grayarea home-features"> 
        <div class="container">
            <div class="row">
                <h1 class="small text-center animated fadeInLeftNow notransition">
                    <span>Portfolio</span> 
                </h1>
            </div>
        </div>
        </section>-->
<section class="grayarea recent-projects-home topspace30 animated fadeInUpNow notransition">
        <div class="container">
            <div class="row">
                <h1 class="small text-center topspace0">Portfolio</h1>
                <div class="text-center smalltitle">
                </div>
                <div class="col-md-12">
                    <div class="list_carousel text-center">
                        <div class="carousel_nav">
                            <a class="prev" id="car_prev" href="#"><span>prev</span></a>
                            <a class="next" id="car_next" href="#"><span>next</span></a>
                        </div>
                        <div class="clearfix">
                        </div>
                        <ul id="carousel-projects">
                            <!--featured-projects 1-->
                            <li>
                            <div class="boxcontainer">
                                <img src="/static/img/data_aggregation.png" alt="" width ="270px">
                                                            </div>
                            </li>
                            <!--featured-projects 2-->
                            <li>
                            <div class="boxcontainer">
                                <img src="/static/img/custom_software.png" alt="" width ="270px">
                                                            </div>
                            </li>
                            <!--featured-projects 3-->
                            <li>
                            <div class="boxcontainer">
                                <img src="/static/img/buzzing.png" alt="" width ="270px">
                                                            </div>
                            </li>
                            <!--featured-projects 4-->
                            <li>
                            <div class="boxcontainer">
                                <img src="/static/img/cloud_lib_hosting.png" alt="" width ="270px">
                                                            </div>
                            </li>
                            <!--featured-projects 5-->
                            <li>
                            <div class="boxcontainer">
                                <img src="/static/img/cloud_lib_paas.png" alt="" width ="270px">
                                                            </div>
                            </li>
                            <!--featured-projects 6-->
                            <li>
                            <div class="boxcontainer">
                                <img src="/static/img/cluster_management.png" alt="" width ="270px">
                                                            </div>
                            </li>
                            <!--featured-projects 7-->
                            <li>
                            <div class="boxcontainer">
                                <img src="/static/img/custom_software.png" alt="" width ="270px">
                                                            </div>
                            </li>
                            <!--featured-projects 8-->
                            <li>
                            <div class="boxcontainer">
                                <img src="/static/img/notemonk.png" alt="" width ="270px" >
                                                               </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </section>
        <!-- /.recent-projects-home end-->
		<!-- FEATURES
================================================== -->
		<section class="home-features">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<h1 class="small text-center animated fadeInLeftNow notransition">About Us</h1>
					<div class="br-hr type_short">
						<span class="br-hr-h animated fadeInRightNow">
                        <i class="icon-pencil"></i>
						</span>
					</div>
					<div class="row animated fadeInDownNow notransition">
                        <div class="row text-center">
						<div class="col-md-4">
							<h4><i class="icon icon-group">
							</i>70 | Passionate, buzzing Headrunners</h4>
						</div>
						<div class="col-md-4">
							<h4><i class="icon icon-lightbulb">
							</i>25 | young median age : 25 years</h4>
						</div>
						<div class="col-md-4">
							<h4><i class="icon icon-user">
							</i>Mentored by veterans from the industry</h4>
						</div>
                        </div>
					</div>
                    <br>
					<div class="row animated fadeInUpNow notransition">
                        <div class="row text-center">
						<div class="col-md-4">
							<h4><i class="icon icon-user">
							</i>Dynamic, multi-culture, mutli-domain expertise</h4>
						</div>
						<div class="col-md-4">
							<h4><i class="icon icon-leaf">
							</i>Simplicity, Minimalism & Frugality</h4>
							</div>
                        <div class="col-md-4">
                            <h4><i class="icon icon-rocket">
                            </i>Fast Growing</h4>
                        </div>
                        </div>
                        </div>
					</div>
				</div>
			</div>
		</div>
		</section>
		<!-- BEGIN CALL TO ACTION PANEL
================================================== -->
		<!--<section class="container animated fadeInDownNow notransition topspace40">
		<div class="row">
			<div class="col-md-12">
				<div class="text-center">
					<p class="bigtext">
						 Praesent <span class="fontpacifico colortext">WowThemes</span> sapien, a vulputate enim auctor vitae
					</p>
					<p>
						 Duis non lorem porta, adipiscing eros sit amet, tempor sem. Donec nunc arcu, semper a tempus et, consequat
					</p>
				</div>
				<div class="text-center topspace20">
					<a href="#" class="buttonblack"><i class="icon-shopping-cart"></i>&nbsp; get theme</a>
					<a href="#" class="buttoncolor"><i class="icon-link"></i>&nbsp; learn more</a>
				</div>
			</div>
		</div>
		</section>-->
		<!-- /. end call to action-->
	</div>
	<!-- /.wrapsemibox end-->

{% endblock %}

