{% extends "base_headrun.html" %}

{% block header_one %}

{% endblock %}

{% block portfolio3 %}
	<!-- PAGE TITLE
================================================== -->
	<section class="pageheader-default text-center">
	<div class="semitransparentbg">
		<h1 class="animated fadeInDown">Portfolio</h1>
		<p class="animated fadeInUp container page-description">
			 Some Of Our Work<br>
			 Products And Services Listed Below.
		</p>
	</div>
	</section>
	<div class="wrapsemibox">
		<div class="semiboxshadow text-center">
			<img src="/static/img/shp.png" class="img-responsive" alt="">
		</div>
		<!-- PORTFOLIO
================================================== -->
		<section class="container">
		<!-- MASONRY ITEMS START
	================================================== -->
		<!-- Filtering Menu
	================================================== -->
		<div class="row">
			<div class="col-md-12 text-center">
				<div id="filter"class="animated fadeInRight">
					<ul>
						<li><a href="" data-filter="*" class="selected"><i class="icon icon-reorder"></i> All Items</a></li>
						<li><a href="" data-filter=".cat1"><i class="icon icon-th-large"></i> Products</a></li>
						<li><a href="" data-filter=".cat2"><i class="icon icon-th-large"></i> Services</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- END filtering menu -->
		<div id="content">
			<!-- box 1 -->
			<div class="boxportfolio3 item cat1">
				<div class="boxcontainer">
					<img src="/static/img/buzzing.png" alt="">
					<div class="roll">
						<div class="wrapcaption">
							<a href="#"><i class="icon-link captionicons"></i></a>
							<a data-gal="prettyPhoto[gallery1]" href="/static/img/buzzing.png" title="Buzzinga"><i class="icon-zoom-in captionicons"></i></a>
						</div>
					</div>
					<h1><a href="#">Buzzinga</a></h1>
					<p>
						 Social Media Analytics Simplification
					</p>
				</div>
			</div>
			<!-- box 2 -->
			<div class="boxportfolio3 item cat1">
				<div class="boxcontainer">
					<img src="/static/img/notemonk1.png" alt="">
					<div class="roll">
						<div class="wrapcaption">
							<a href="#"><i class="icon-link captionicons"></i></a>
							<a data-gal="prettyPhoto[gallery1]" href="/static/img/notemonk1.png" title="Notemonk"><i class="icon-zoom-in captionicons"></i></a>
						</div>
					</div>
					<h1><a href="#">NoteMonk</a></h1>
					<p>
						 A Brand New Way To Experience Your Books.
					</p>
				</div>
			</div>
			<!-- box 3 -->
			<div class="boxportfolio3 item cat1">
				<div class="boxcontainer">
					<img src="/static/img/incog.png" alt="">
					<div class="roll">
						<div class="wrapcaption">
							<a href="#"><i class="icon-link captionicons"></i></a>
							<a data-gal="prettyPhoto[gallery1]" href="/static/img/incog.png" title="Incog"><i class="icon-zoom-in captionicons"></i></a>
						</div>
					</div>
					<h1><a href="#">Incog</a></h1>
					<p>
						 Rediscover Your Friends Chat With Them Anonymously
					</p>
				</div>
			</div>
			<!-- box 4 -->
			<div class="boxportfolio3 item cat1">
				<div class="boxcontainer">
					<img src="/static/img/cloudlibsimg.png" alt="">
					<div class="roll">
						<div class="wrapcaption">
							<a href="#"><i class="icon-link captionicons"></i></a>
							<a data-gal="prettyPhoto[gallery1]" href="/static/img/cloudlibsimg.png" title="Cloudlibs"><i class="icon-zoom-in captionicons"></i></a>
						</div>
					</div>
					<h1><a href="#">Cloudlibs Hosting</a></h1>
					<p>
						 Robust hardware, Fast network and Technical Support - VPS Services
					</p>
				</div>
			</div>
			<!-- box 5 -->
			<div class="boxportfolio3 item cat2">
				<div class="boxcontainer">
					<img src="/static/img/juicer_focused_crawling.png" alt="">
					<div class="roll">
						<div class="wrapcaption">
							<a href="#"><i class="icon-link captionicons"></i></a>
							<a data-gal="prettyPhoto[gallery1]" href="/static/img/juicer_focused_crawling.png" title="Juicer"><i class="icon-zoom-in captionicons"></i></a>
						</div>
					</div>
					<h1><a href="#">Juicer</a></h1>
					<p>
						 Web Data Extraction
					</p>
				</div>
			</div>
			<!-- box 6 -->
			<div class="boxportfolio3 item cat1">
				<div class="boxcontainer">
					<img src="/static/img/tlg.png" alt="">
					<div class="roll">
						<div class="wrapcaption">
							<a href="#"><i class="icon-link captionicons"></i></a>
							<a data-gal="prettyPhoto[gallery1]" href="/static/img/tlg.png" title="TLG"><i class="icon-zoom-in captionicons"></i></a>
						</div>
					</div>
					<h1><a href="#">The Little Gym</a></h1>
					<p>
						 Cloud Based Franchise Interface For Global Product - The Little Gym
					</p>
				</div>
			</div>
			<!-- box 7 -->
			<div class="boxportfolio3 item cat1">
				<div class="boxcontainer">
					<img src="/static/img/floretz.png" alt="">
					<div class="roll">
						<div class="wrapcaption">
							<a href="#"><i class="icon-link captionicons"></i></a>
							<a data-gal="prettyPhoto[gallery1]" href="/static/img/floretz.png" title="Floretz"><i class="icon-zoom-in captionicons"></i></a>
						</div>
					</div>
					<h1><a href="#">Floretz - Montessori Schools</a></h1>
					<p>
						Website and Web Application to edit site.
					</p>
				</div>
			</div>
			<!-- box 8 -->
			<div class="boxportfolio3 item cat2">
				<div class="boxcontainer">
					<img src="/static/img/paymentgateway.jpg" alt="">
					<div class="roll">
						<div class="wrapcaption">
							<a href="#"><i class="icon-link captionicons"></i></a>
							<a data-gal="prettyPhoto[gallery1]" href="/static/img/paymentgateway.jpg" title="Payment Gateway"><i class="icon-zoom-in captionicons"></i></a>
						</div>
					</div>
					<h1><a href="#">Integrating Payment Gateways</a></h1>
					<p>
						 We Integrate Payment Gateways To Sites.
					</p>
				</div>
			</div>
			<!-- box 9 -->
			<div class="boxportfolio3 item cat1">
				<div class="boxcontainer">
					<img src="/static/img/miebach.png" alt="">
					<div class="roll">
						<div class="wrapcaption">
							<a href="#"><i class="icon-link captionicons"></i></a>
							<a data-gal="prettyPhoto[gallery1]" href="/static/img/miebach.png" title="Miebach"><i class="icon-zoom-in captionicons"></i></a>
						</div>
					</div>
					<h1><a href="#">Miebach</a></h1>
					<p>
						 The Supply Chain Engineers.
					</p>
				</div>
			</div>
			<!-- box 10 -->
			<div class="boxportfolio3 item cat1">
				<div class="boxcontainer">
					<img src="/static/img/blackbuck.png" alt="">
					<div class="roll">
						<div class="wrapcaption">
							<a href="#"><i class="icon-link captionicons"></i></a>
							<a data-gal="prettyPhoto[gallery1]" href="/static/img/blackbuck.png" title="BlackBuck"><i class="icon-zoom-in captionicons"></i></a>
						</div>
					</div>
					<h1><a href="#">BlackBuck</a></h1>
					<p>
						 Changing The Way Freight Moves In India.
					</p>
				</div>
			</div>
			
			<!-- next box etc -->
			<!-- MASONRY ITEMS END -->
		</div>
		</section>

<script src="/static/js/jquery.js"></script>
<script>
//MASONRY
$(document).ready(function(){
var $container = $('#content');
  $container.imagesLoaded( function(){
    $container.isotope({
    filter: '*',    
    animationOptions: {
     duration: 750,
     easing: 'linear',
     queue: false,   
   }
});
});
//FILTER
$('#filter a').click(function(){
  var selector = $(this).attr('data-filter');
    $container.isotope({ 
    filter: selector,
    animationOptions: {
     duration: 750,
     easing: 'linear',
     queue: false,
   }
  });
  return false;
});
$('#filter a').click(function (event) {
    $('a.selected').removeClass('selected');
    var $this = $(this);
    $this.addClass('selected');
    var selector = $this.attr('data-filter');
    $container.isotope({
         filter: selector
    });
    return false;
});
});
//ROLL ON HOVER
$(function() {
$(".roll").css("opacity","0");
$(".roll").hover(function () {
$(this).stop().animate({
opacity: .8
}, "slow");
},
function () {
$(this).stop().animate({
opacity: 0
}, "slow");
});
});
//CALL PRETTY PHOTO
    $(document).ready(function(){
        $("a[data-gal^='prettyPhoto']").prettyPhoto({social_tools:'', animation_speed: 'normal' , theme: 'dark_rounded'});
    });
$(document).ready(function(){
	$('#home').removeClass('active');
	$('#pages').removeClass('active');
	$('#contact').removeClass('active');
	$('#features').removeClass('active');
	$('#blog').removeClass('active');
	$('#portfolio').addClass('active');
});
</script>
{% endblock %}
