{% extends "base_headrun.html" %}
{% block header_one %}

{% endblock %}

{% block header_footer %}
	<!-- PAGE TITLE
================================================== -->
	<section class="pageheader-default text-center">
	<div class="semitransparentbg">
		<h1 class="animated fadeInLeftBig notransition">Services</h1>
		<p class="animated fadeInRightBig notransition container page-description">
            Technology at its best for our services
		</p>
	</div>
	</section>
	<div class="wrapsemibox">
		<div class="semiboxshadow text-center">
			<img src="/static/img/shp.png" class="img-responsive" alt="">
		</div>
		<!-- SERVICES
================================================== -->
		<section class="container services">
		<div class="row text-center animated fadeInUp notransition">
			<div class="col-md-4">
				<i class="icon-bug"></i>
						<h4>WEB DATA EXTRACTION</h4>
						<p>
							 OTT/video meta crawl |
							 Sports/Real Estate database aggregation |
							 Comparison engines | 
							 Custom Mashups

						</p>
			</div>
			<!-- col-md-4 -->
			<div class="col-md-4">
				<i class="icon-desktop"></i>
				<h4>WEB DEVELOPMENT</h4>
				<p>
					We develop custom web applications - Python Django being our major and Php Laravel our secondary. 
				</p>
			</div>
			<!-- col-md-4 -->
			<div class="col-md-4">
				<i class="icon-trophy"></i>
				<h4>Cluster Management</h4>
						<p>
							 Managed server clusters of 100 + machines |
Monitoring uptime , deploying software , mainataining state | 
Distributed monitoring using Nagios, SNMP integration | 
Distributed configuration management using Chef/Puppet |
</p>
			</div>
			<!-- col-md-4 -->
		</div>
		<div class="row text-center topspace30 animated fadeInDown notransition">
			<div class="col-md-4">
				<i class="icon-heart"></i>
				<h4>OSS Strategy Consulting</h4>
						<p>
							 OSS deployment consultation |
OSS Deployment and support |
Experience with Postgres, Hadoop, MangoDB and Raik |

						</p>
			</div>
			<!-- col-md-4 -->
			<div class="col-md-4">
				<i class="icon-tablet"></i>
						<h4>Mobile and Web App development</h4>
						<p>
							IOS and Android Dev |
intricacies of codebase fragmentation and resultant cost factors |
Django/Python/Mysql/Apache/Nginx environments |

						</p>
			</div>
			<!-- col-md-4 -->
			<div class="col-md-4">
				<i class="icon-gears"></i>
						<h4>Custom Software Build</h4>
						<p>
						Custom Data Extraction and DaaS solutions |
Industry / Organisation specific crawling infrastructure |
Client specific technology consultation and build |

						</p>
			</div>
			<!-- col-md-4 -->
		</div>
		</section>
		<!-- CLIENTS
================================================== -->
<!--	
		<section class="grayarea animated fade notransition recent-projects-home text-center topspace30">
		<div class="container">
			<div class="row">
				<h1 class="small text-center animated fadeInLeftNow notransition">Our Partners</h1>
				<p class="animated fadeInRightNow notransition text-center topspace20">
					 Calypso offers multiple layouts and ways of displaying your content in a manner that best suits for you and <br>
					 your customer. Make beautiful and eye catching site with Calypso today!
				</p>
				<div class="text-center smalltitle">
				</div>
				<div class="col-md-12">
					<div class="list_carousel">
						<div class="carousel_nav">
							<a class="prev" id="car_prev" href="#" style="display: block;"><span>prev</span></a>
							<a class="next" id="car_next" href="#" style="display: block;"><span>next</span></a>
						</div>
						<div class="clearfix">
						</div>
						<div class="caroufredsel_wrapper">
							<ul id="carousel-projects">
								<li>
								<div class="featured-projects">
									<div class="featured-projects-image">
										<a href="#"><img src="http://wowthemes.net/demo/salique/salique-boxed/images/temp/logos/logo1.png" class="imgOpa grayimage grayimage" alt=""></a>
									</div>
								</div>
								</li>
								<li>
								<div class="featured-projects">
									<div class="featured-projects-image">
										<a href="#"><img src="http://wowthemes.net/demo/salique/salique-boxed/images/temp/logos/logo2.png" class="imgOpa grayimage" alt=""></a>
									</div>
								</div>
								</li>
								<li>
								<div class="featured-projects">
									<div class="featured-projects-image">
										<a href="#"><img src="http://wowthemes.net/demo/salique/salique-boxed/images/temp/logos/logo3.png" class="imgOpa grayimage" alt=""></a>
									</div>
								</div>
								</li>
								<li>
								<div class="featured-projects">
									<div class="featured-projects-image">
										<a href="#"><img src="http://wowthemes.net/demo/salique/salique-boxed/images/temp/logos/logo4.png" class="imgOpa grayimage" alt=""></a>
									</div>
								</div>
								</li>
								<li>
								<div class="featured-projects">
									<div class="featured-projects-image">
										<a href="#"><img src="http://wowthemes.net/demo/salique/salique-boxed/images/temp/logos/logo5.png" class="imgOpa grayimage" alt=""></a>
									</div>
								</div>
								</li>
								<li>
								<div class="featured-projects">
									<div class="featured-projects-image">
										<a href="#"><img src="http://wowthemes.net/demo/salique/salique-boxed/images/temp/logos/logo6.png" class="imgOpa grayimage" alt=""></a>
									</div>
								</div>
								</li>
								<li>
								<div class="featured-projects">
									<div class="featured-projects-image">
										<a href="#"><img src="http://wowthemes.net/demo/salique/salique-boxed/images/temp/logos/logo4.png" class="imgOpa grayimage" alt=""></a>
									</div>
								</div>
								</li>
								<li>
								<div class="featured-projects">
									<div class="featured-projects-image">
										<a href="#"><img src="http://wowthemes.net/demo/salique/salique-boxed/images/temp/logos/logo5.png" class="imgOpa grayimage" alt=""></a>
									</div>
								</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		</section>	
-->
<!-- SCRIPTS, placed at the end of the document so the pages load faster
================================================== -->
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/plugins.js"></script>
<script src="/static/js/common.js"></script>
<script>
	/* ---------------------------------------------------------------------- */
	/*	Carousel
	/* ---------------------------------------------------------------------- */
	$(window).load(function(){			
		$('#carousel-projects').carouFredSel({
		responsive: true,
		items       : {
        width       : 200,
        height      : 150,
        visible     : {
            min         : 1,
            max         : 4
        }
    },
		width: '200px',
		height: '150px',
		auto: true,
		circular	: true,
		infinite	: false,
		prev : {
			button		: "#car_prev",
			key			: "left",
				},
		next : {
			button		: "#car_next",
			key			: "right",
					},
		swipe: {
			onMouse: true,
			onTouch: true
			},
		scroll: {
        easing: "",
        duration: 1200
    }
	});
		});

$(document).ready(function(){
	$('#home').removeClass('active');
	$('#portfolio').removeClass('active');
	$('#contact').removeClass('active');
	$('#pages').addClass('active');
});

</script>
{% endblock %}
