{% extends "base_headrun.html" %}
{% block header_one %}

{% endblock %}

{% block header_footer %}
	<!-- PAGE TITLE
================================================== -->
	<section class="pageheader-default text-center">
	<div class="semitransparentbg">
		<h1 class="animated fadeInLeftBig">Testimonials</h1>
		<p class="animated fadeInRightBig container page-description">
        What Our Clients Say About Us ...!
		</p>
	</div>
	</section>
	<div class="wrapsemibox">
		<div class="semiboxshadow text-center">
			<img src="/static/img/shp.png" class="img-responsive" alt="">
		</div>
		<!-- TESTIMONIALS
================================================== -->
	<!-- TESTIMONIAL 1 -->
		<section class="animated fadeInUp notransition">
		<div class="cbp-qtrotator">
			<h1 class="small text-center topspace0">Great Support!</h1>
			<blockquote>
				<p class="bigquote text-left">
					<img src="/static/img/avatar.jpg" class="pull-right testavatar" alt="">
					<i class="icon-quote-left colortext quoteicon"></i> Veveo has gainfully used Headrun for multiple engineering projects ranging from new fuctionality and maintenance as well as production services. Deliverable quality has been consistently good and the service proactive  and responsive. The Headrun leadership team is also easily approachable and reliable. I wouldn’t hesitate recommonding Headrun.
				</p>
				<footer>Rakesh Barve / Vice President , Veveo Inc.</footer>
			</blockquote>
		</div>	
		</section>
	<!-- TESTIMONIAL 2 -->	
		<section class="grayarea">
		<div class="cbp-qtrotator animated fadeInRight notransition">
			<h1 class="small text-center">Best Services</h1>
			<blockquote>
				<p class="bigquote text-left">
					<img src="/static/img/avatar.jpg" class="pull-right testavatar" alt="">
					<i class="icon-quote-left colortext quoteicon"></i> With quick turnaround and innovative outlook at arriving at solutions to problems. Headrun is a reliable partner at work with We enjoy working with the team and look forward to a long term business relationship.
				</p>
				<footer>Shameer Thaha, Social Media Strategist , Thoughtbuzz Inc.</footer>
			</blockquote>
		</div>
		</section>
	<!-- TESTIMONIAL 3 -->
		<section>
		<div class="cbp-qtrotator animated fadeInLeftNow notransition">
			<h1 class="small text-center topspace40">Quality Products</h1>
			<blockquote>
				<p class="bigquote text-left">
					<img src="/static/img/avatar.jpg" class="pull-right testavatar" alt="">
					<i class="icon-quote-left colortext quoteicon"></i> Good startups are efficient amplifiers of the creativity , energy, and productivity levels of its founders. My interactions with the Headrun leadership team offered me clear evidence of such amplification in practice.
				</p>
				<footer>Ajit Rajashekaran , Founder and VP of technology , Veveo Inc.</footer>
			</blockquote>
		</div>
		</section>
	<!-- TESTIMONIAL 4 -->
        
		<section class="grayarea">
		<div class="cbp-qtrotator animated fadeInRightNow notransition">
			<h1 class="small text-center">Five Stars</h1>
			<blockquote>
				<p class="bigquote text-left">
					<img src="http://wowthemes.net/demo/biscaya/img/demo/avatar.jpg" class="pull-right testavatar" alt="">
					<i class="icon-quote-left colortext quoteicon"></i> The Little Gym is a services business that focuses on developing confidence in Children. Therefore our technology platform is critical in managing and engaging with both parents and our students. Headrun as an organization really spent the time and effort to understand our business and its nuances and to reflect the actual operations when developing the technology platform. Most importantly the team at Headrun have always listed to our needs, and have shown great perseverance in solving some complex problems into simple solutions that are easy to implement. Thanks Team Headrun. !!
				</p>
				<footer>ShriramRamdas, Master Franchisor of The Little Gym USA</footer>
			</blockquote>
		</div>
		</section>


<script src="/static/js/jquery.js"></script>
<script>
$(document).ready(function(){
	$('#home').removeClass('active');
	$('#portfolio').removeClass('active');
	$('#contact').removeClass('active');
	$('#pages').addClass('active');
});

</script>
{% endblock %}
